body{
    background-color: red;
    text-align: center;
   margin: 5%;    
    
}
#div1{
    background-color: white;
    border-radius: 25px;
}

#div2{
    background-color: white;
    border-radius: 25px;
}